
form{
    display: flex;
    flex-direction: column;
    margin-left: 25em;
}
.fields {
    border-radius: 5px;
    height: 3em;
    width: 12em;
    border: 1px solid lightgray;
}
.textarea{
    border-radius: 5px;
    height: 10em;
    width: 20em;
    border: 1px solid lightgray;
}

.form-email{
    padding-top: 1em;
}
.guest{
    border-radius: 5px;
    box-shadow: 0 0 120px 1px #fff,#1d4579 2px 5px 5px;
    background: linear-gradient(to left bottom, #c3d1e4, #dde7f3, #d4e0ed);
    height: 1.5em;
    margin: .25em;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
    display: flex;
}
.login{
    border-radius: 5px;
    box-shadow: 0 0 120px 1px #fff,#1d4579 2px 5px 5px;
    background: linear-gradient(to left bottom, #c3d1e4, #dde7f3, #d4e0ed);
    height: 1.5em;
    margin: .25em;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
    display: flex;
}
.buttons{
    display: flex;
}
.form-mobile{
    display: none;
}
@media(max-width: 420px){
    .form{
        display: none;
    }
    .form-mobile{
        margin: auto;
        display: flex;
    }
    .login{
        margin-left: 4em;
    }

}
